<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>DBreadUsers</servlet-name>
        <servlet-class>servlet.dbreader.readUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBwriteUser</servlet-name>
        <servlet-class>servlet.dbwriter.writeUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>write_offUsers</servlet-name>
        <servlet-class>servlet.dbdeleter.write_offServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBreadUsers</servlet-name>
        <url-pattern>/DBreadUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBwriteUser</servlet-name>
        <url-pattern>/DBwriteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>write_offUsers</servlet-name>
        <url-pattern>/write_offUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlet.dbreader.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForuserServlet</servlet-name>
        <servlet-class>servlet.dbreader.ForuserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForuserServlet</servlet-name>
        <url-pattern>/ForuserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BooksServlet</servlet-name>
        <servlet-class>servlet.dbreader.BooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksServlet</servlet-name>
        <url-pattern>/BooksServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rocordServlet</servlet-name>
        <servlet-class>servlet.dbreader.rocordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rocordServlet</servlet-name>
        <url-pattern>/rocordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReadyReturnServlet</servlet-name>
        <servlet-class>servlet.dbupdater.ReadyReturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadyReturnServlet</servlet-name>
        <url-pattern>/ReadyReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RternBookServlet</servlet-name>
        <servlet-class>servlet.dbupdater.RternBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RternBookServlet</servlet-name>
        <url-pattern>/RternBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <servlet-class>servlet.dbdeleter.DeleteRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <url-pattern>/DeleteRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>servlet.dbupdater.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>servlet.dbwriter.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentBookServle</servlet-name>
        <servlet-class>servlet.dbwriter.RentBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentBookServle</servlet-name>
        <url-pattern>/RentBookServle</url-pattern>
    </servlet-mapping>
    <!--<servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlet.dbreader.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>-->
</web-app>