html, body {
    padding: 0;
    margin: 0;
    background: #fff;
}
.main header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(5, 23, 47, .35);
    background-color: rgb(5, 23, 47) \9;
    z-index: 1000;
}
.main header .container {
    width: 980px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}



